.mainbox {
    width: 100%;
    background: darkblue;
    color: white;
}
.elementbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.element {
    margin: 10px;
    color: white;
    text-decoration: none;
}

.profile {
    position: relative;

}

.menu {
    position: absolute;
    top: -62px;
    right: 50px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background: whitesmoke;
}
.links {
    list-style: none;
    text-decoration: none;
    color: darkblue
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: App-logo-spin infinite 3s alternate-reverse;
    }
  }

  .birka {
    position: relative;
  }

  .logotext {
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.43);
    color: brown;
    font-size: 50px;
    margin: 0;
    padding: 7px 53px 7px 53px;
    background: #ffe662;
    border-radius: 30px;
  }


  .psevdo {
    position: absolute;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.43);
    margin: 0;
    padding: 15px;
    background: #623939;
    border-radius: 30px;
    z-index: 1;
  }

  .left {
    top: 21px;
    left: 12px;
  }

  .right {
    top: 21px;
    right: 12px;
  }