
.productBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.btnEdit {
    border: none;
    background: greenyellow;
    padding: 10px;
    border-radius: 10px;
    font-size: 25px;
}

.btnEdit:hover {
    background: rgb(125, 184, 36); 
}