* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back {
  background: #dffeff;
}

.container {
  background: white;
  margin: 0 auto;
  width: 80%;
  padding: 50px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(160deg);
  }
  to {
    transform: rotate(360deg);
  }
}
